<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" [(opened)]="opened">
    <mat-toolbar color="primary"> RESUMEN </mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click)="drawer.toggle()" [routerLink]="['/clients']">Clients</mat-list-item>
      <mat-list-item (click)="drawer.toggle()" [routerLink]="['/wallet']">Wallet</mat-list-item>
      <mat-list-item (click)="drawer.toggle()" [routerLink]="['/letters']">Letters</mat-list-item>
      <mat-list-item (click)="drawer.toggle()" [routerLink]="['/customer-support']">Customer Support</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Diluma</span>
    </mat-toolbar>
    <router-outlet />
    <!--<div class="content">
      <p>Welcome to Resumen section.</p>
    </div>-->
  </mat-sidenav-content>
</mat-sidenav-container>

























